.mySlider {
  height: max-content;
}

.slick-slide {
  /* border: 1px solid red; */
  padding: 0 !important;
}

.slick-slide div div {
  border: 1px solid green; 
  padding-block: 5px !important;
  padding-inline: 10px !important;
}

.slick-track {
  margin: 0 !important;
}
